* {
  margin: 0;
  font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: white;
}

.navbar {
  background-color: #333;
  width: 200px;
  height: 100vh;
}

.uList {
  padding: 0;
}

.navbar ul {
  list-style-type: none;
  color: white;
  margin-top: 20px;
}



.linkContainer {
  padding: 20px;
}

.linkContainer:hover {
  background-color: #555;
}

.link {
  color: white;
  text-decoration: none;
}

.navbarContainer {
  display: flex;
}

.chipContainer {
  /* display: flex; */
  width: 600px;
  height: 200px;
  margin: 20px;
  
}

.checkboxContainer {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

