* {
  margin: 0;
}

.navbar {
  background-color: aliceblue;
  width: 200px;
  height: 100vh;
}

.navbarContainer {
  display: flex;
}

.chipContainer {
  /* display: flex; */
  width: 600px;
  height: 200px;
  margin: 20px;
}

.chipContainer > * {
  margin-left: 20px;
}

.checkboxContainer {
  margin-left: 20px;
  display: flex;
  align-items: center;
}

.planetTable {
  width: 900px;
  height: 300px;
  /* background-color: antiquewhite; */
}

.planetItem {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid #d7d7d7;
}

.planetItemTitle {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  border-bottom: 1px solid #d7d7d7;
}

.planetItemTitle > * {
  width: 120px;
}

.planetItemTitle > *:hover {
  cursor: pointer;
  color: rgb(63, 84, 151);
  transition: all 0.3s;
  width: 100%;
}

/* .planetItem:hover {
  background-color: #d7d7d7;
  transition: all .1s;
} */

.tableTitle {
  font-weight: 600;
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* .Mui-focused {
  color: grey;
} */

.list {
  /* background-color: #333; */
  /* width: 350px; */
  position: absolute;
  left: 30px;
  z-index: 10;
  /* filter: drop-shadow(0 0 0.75rem crimson); */
}

.searchContainer {
  position: absolute;
  z-index: 10;
  left: 1000px;
  top: 100px;
}

.planetFilters {
  margin-top: 50px;
}
