* {
  padding: 0;
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}

.App {
  width: 600px;
  margin: 0 auto;
}

.appList {
  display: flex;
  text-decoration: none;
  list-style-type: none;
  justify-content: space-around;
  align-items: center;
  background-color: #ddd;
  padding: 0;
  height: 40px;
  /* width: 600px !important; */
}

.appList li {
  margin: 10px;
  width: 100%;
  height: 100%;
  text-align: center;
  margin: 0;
  transition: all 0.5s;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.appList li a {
  text-decoration: none;
  color: #333;
  width: 100%;
  height: 100%;
  margin-top: 20px;
}

.appList li:hover {
  background-color: #ccc;
  cursor: pointer;
}

.productItem {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
  background-color: rgb(248, 223, 223);
  padding: 10px;
  transition: all 0.5s;
  position: relative;
}

.productItem:hover {
  background-color: #ccc !important;
  cursor: pointer;
}

.quantity {
  position: relative;
  right: -30px;
}

.productItem div:nth-child(2) {
  position: absolute;
  right: 10px;
}

.total {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 10px;
}

.btn {
  margin: 0;
  padding: 10px 30px;
  background: none;
  border: none;
  background-color: #eee;
  cursor: pointer;
  transition: all 0.5s;
}

.btn:hover {
  background-color: #ddd;
}

.btns {
  display: flex;
  justify-content: space-between;
}

.profileImg {
  background-color: #ddd;
  width: 130px;
  height: 130px;
}

.profileContainer {
  display: flex;
}

.addFriendBtn {
  margin-top: 10px;
}

/* .profileContainer h3 {
  margin-left: 20px;
} */

.postImg {
  background-color: #ddd;
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.userDetails {
  display: flex;
  align-items: top;
}

.userDetails h3 {
  margin: 0 20px;
}

.userDetails p {
  margin: 0 20px;
}

.postContainer {
  padding: 20px;
  background-color: #eee;
  margin-bottom: 10px;
}

.checkoutBtn {
  margin-left: 10px;
}
